$c-white: #fff;
$c-black: #000;
$c-gray: #BAC6D8;
$c-dark-gray: #484F53;
$c-middle-gray: #E5EAF0;

$c-lp-gray: #C6C8C9;
$c-ls-gray: #F6F8FA;

$c-light-blue:#F5F8FD;
$c-middle-black: #1A2328;
$c-red: #FF2626;
$c-green: #03A99F;